#logo{
    width: 150px;
    height: auto;
}
.imgIdioma{
    width: 50px !important;
    height: auto;
}
#divIdiomas{
    margin-left: 200px;
}
#imgFotoCara{
    width: 20%;
    border-radius: 5%;
}
#donosoImg{
    width: 13000px;
    height: auto;
}
#garfImg{
    width: 300px;
    height: auto;
}
.idiomasFormacion{
    width: 100px !important;
    height: auto;
}
.lenguajesImg{
    width: 100px;
    height: auto;
    margin-left: 5%;
}
.soImg{
    width: 100px;
    height: auto;
    margin-left: 20%;
}
#linux{
    width: 80px !important;
}
.herramientaImg{
    width: 100px;
    height: auto;
    margin-left: 3%;
}
#imgMachine{
    width: 300px;
    height: auto;
}
p{
    font-size: larger;
    justify-content: center;
}
.containerMachine {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerMachine img {
    max-width: 20%; 
    max-height: 100%; 
    border-radius: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
#txtBig{
    margin-top: 20px !important;
}
#iconDatabase{
    color: #FF7133;
}
#dataWeb{
    margin-top: 15%;
}
#dataBig{
    margin-top: 15%;
}
#dataMulti{
    margin-top: 7%;
}
/* Aptitudes */
.card-body{
    height: 150px !important;
}
/* Social Media Icons*/
#iconsMedia a{
    border-radius: 50%;
}
#iconsMedia i{
    font-size: 20pt;
}

#iconsMedia li{
    margin-left: 3%;
    margin-right: 3%;
}

#iconsMedia a:hover{
    background-color: #FF7133 !important;
}

